/*-------------
    RESET
-------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------
    GENERAL
-------------*/
body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*-------------
    HEADER
-------------*/

header {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 80px;
}

.nav-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-header li {
  position: relative;
}

.nav-header a {
  text-decoration: none;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
}

.nav-header li:hover::after {
  content: "";
  display: block;
  height: 6px;
  width: auto;
  margin: auto;
  background-color: #0282f9;
  position: absolute;
  bottom: -39px;
  left: 0;
  right: 0;
}

/*-------------
    MAIN
-------------*/
main {
  background-color: #1c1c1c;
  color: white;
  min-height: 100px;
}

main h3 {
  padding-top: 30px;
}
/*-------------
    FOOTER
-------------*/
footer {
  color: white;
}
.footer-top {
  background-color: #0282f9;
  padding: 30px 0;
  height: auto;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer span {
  padding-left: 14px;
}

.footer-top img {
  width: 40px;
}

.cont-footop {
  display: flex;
  align-items: center;
}

.footer-center {
  padding: 20px 0;
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.list-foot {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.list-foot div {
  width: 180px;
}

.list-foot h4 {
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #686868;
  font-size: 14px;
  font-weight: 600;
}

footer ul {
  list-style: none;
  padding-bottom: 20px;
}

.logo-foot {
  width: 500px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.footer-bot {
  background-color: #303030;
  height: auto;
}

.cont-foot-bot {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: solid 2px;
  border-color: #0282f9;
  cursor: pointer;
  font-size: 14px;
}

.cont-foot-bot img {
  padding-right: 10px;
}

.cont-foot-bot img:first-of-type {
  padding-left: 20px;
}

.social-button {
  display: flex;
  align-items: center;
}

.cont-foot-bot a {
  color: rgb(0, 98, 255);
}
