/*-------------
    RESET
-------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------
    GENERAL
-------------*/
body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*-------------
    HEADER
-------------*/

header {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 80px;
}

.nav-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-header a {
  text-decoration: none;
  color: #464646;
  font-size: 14px;
  font-weight: 600;
}

/*-------------
    MAIN
-------------*/
main {
  background-color: #1c1c1c;
  color: white;
  min-height: 100px;
}

main h3 {
  padding-top: 30px;
}
/*-------------
    FOOTER
-------------*/
footer {
  color: white;
}
.footer-top {
  background-color: #0282f9;
  padding: 40px 0;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer span {
  padding-left: 14px;
}

footer img {
  width: 50px;
}

footer div {
  display: flex;
  align-items: center;
}
